@import "~bootstrap/scss/bootstrap";

main {
    background-color: lightcoral;
}

.gatto-img {
    height: 200px;
}

.gatto-bg {
    height: 200px;
    background-image: url('../img/gatto.webp');
    background-size: contain;
}

$primary-color : #0C7CEC;
$secondary-color : #303030;

header {
    .container {
        display: flex;
        justify-content: space-between;
        height: 100px;
      
        .logo {
        height : 100%;
        padding : 15px 0;
        vertical-align: middle;

            img {
            max-height: 100%;
            }
        }
  
        nav {
            height: 100%;
            vertical-align: middle;

            ul {
                margin-top: 40px;
                display: flex;
                height : 100%;
                list-style: none;
                li {
                    padding: 0 10px;
                    align-self: center;
  
                    a {
                        height : 100%;
                        text-decoration: none;
                        color: #1C1C1C;
                        padding : 30px 0px;
                        border-bottom: 5px solid transparent;
                        text-transform: uppercase;

                        &:hover {
                        color : $primary-color;
                        border-bottom: 5px solid $primary-color;
                        }
                    }
                }
            }
        }
        
        .search-container {
            width: 120px;

            .search-input {
                width: 100%;
                padding: 8px 16px;
                font-size: 1rem;
                background-color: #fff;
                border: none; 
            }
            
            .search-input:focus {
                outline: none;
            }
        }

    }
}